<div class="fluid-container">
  <!-- First Row -->
   <!-- =========================================== -->
  <div class="row" style="height: 50vh;">
    <div class="col text-white p-3 d-flex flex-column justify-content-center align-items-center">
      <a class="navbar-brand text-primary me-2 brand-icon Back_icon">
        <i class="fa-regular fa-credit-card m-2"></i>
      </a>
      <p class="text-dark" style="font-weight: bold; font-size: 25px;">Welcome back,{{currentUser?.userName}}!</p>
      <p class="text-secondary">Access your account and mangae your finances securely</p>
    </div>
  </div>

  <!-- Second Row -->
   <!-- =========================================== -->
  <div class="row mt-3 mx-2 mb-5" style="height: 50vh;">
    <div class="col-lg-4 col-md-6 col-12 text-dark p-3">
        <mat-card class="example-card" appearance="outlined">
            <div class="header m-2">
                <a class="navbar-brand text-primary me-2 card_icon card_Back_icon">
                    <i class="fa-regular fa-credit-card m-2"></i>
                </a>
                <mat-card-title>My Account</mat-card-title>
            </div>
            <mat-card-content>
                <p>View your account balance and your transactions</p>
            </mat-card-content>
            <mat-card-footer class="m-3">
                <mat-chip-set aria-label="Chihuahua traits">
                   <mat-chip routerLink="/user/my-account"><span class="me-2">Get Started</span> <i class="fa-solid fa-arrow-right"></i></mat-chip>     
                </mat-chip-set>
            </mat-card-footer>
        </mat-card>
    </div>
    <!-- =========================================== -->
    <div class="col-lg-4 col-md-6 col-12 text-dark p-3">
        <mat-card class="example-card" appearance="outlined">
            <div class="header m-2">
                <a class="navbar-brand text-primary me-2 card_icon card_Back_icon">
                    <i class="fa-solid fa-arrow-trend-up"></i>
                </a>
                <mat-card-title>Transaction History</mat-card-title>
            </div>
            <mat-card-content>
                <p>Browse and filter all your transactions</p>
            </mat-card-content>
            <mat-card-footer class="m-3">
                <mat-chip-set aria-label="Chihuahua traits">
                   <mat-chip routerLink="/user/transactions"><span class="me-2">Get Started</span> <i class="fa-solid fa-arrow-right"></i></mat-chip>     
                </mat-chip-set>
            </mat-card-footer>
        </mat-card>
    </div>
    <!-- =========================================== -->
    <div class="col-lg-4 col-md-6 col-12 text-dark p-3">
        <mat-card class="example-card" appearance="outlined">
            <div class="header m-2">
                <a class="navbar-brand text-primary me-2 card_icon card_Back_icon">
                    <i class="fa-solid fa-dollar-sign"></i>
                </a>
                <mat-card-title>Fund Transfer</mat-card-title>
            </div>
            <mat-card-content>
                <p>Transfer money to other accounts securely</p>
            </mat-card-content>
            <mat-card-footer class="m-3">
                <mat-chip-set aria-label="Chihuahua traits">
                   <mat-chip routerLink="/user/transfer"><span class="me-2">Get Started</span> <i class="fa-solid fa-arrow-right"></i></mat-chip>     
                </mat-chip-set>
            </mat-card-footer>
        </mat-card>
    </div>
    <!-- =========================================== -->
  </div>
  <!--------------->

</div>