<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    
    <div class="d-flex align-items-center" routerLink="/admin">
      <a class="navbar-brand text-white me-2 brand-icon" routerLinkActive="activated-link">
        <i class="fa-regular fa-credit-card"></i>
      </a>
      <span class="text-white navbar-brand">SecureBank</span>
    </div>

   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

   
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" 
             routerLink="/admin/admin-home" 
             routerLinkActive="active">
            <i class="fa-regular fa-house"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" 
             routerLink="/admin/admin-panel" 
             routerLinkActive="active">
            <i class="fa-solid fa-gear"></i> Admin Panel
          </a>
        </li>
      </ul>
   
    </div>

   
    <div class="d-flex align-items-center ms-3">
      <span class="text-white me-3">Welcome, {{currentUser?.userName}}</span>
      <a class="btn bg-white nav-link" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i> Logout
      </a>
    </div>
  </div>
</nav>
